<form action="update" method="POST">

    <input type="text" name="name" placeholder="song name" value=<%= editsong.name %>>
    <input type="text" name="author" value=<%= editsong.author %>>
    <input type="submit" value="add new song">
   
   </form>