
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Songs</h1>
  <h1><% songs.forEach((song)=>{ %></h1>
    <%= song.name %>
    <%= song.author%>
    <a class="btn btn-info" href="/edit/<%= song._id %>">edit</a>
    <a class="btn btn-danger" href="/delete/<%= song._id %>">delete</a>
    
    
    <h1><% })%></h1>    
    <a href="/create" class="btn btn-primary">add new song</a>
</div>

</body>
</html>
